Repository FinCube-23/DAO-Proposal-Governance, pull requests merged in 2024-07, with the labels that each got.

#130 Feat/126 on chain socket listening background task
  backend/audit-trail-service/.env.example
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/app.module.ts
  backend/audit-trail-service/src/background_tasks/task.module.ts
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
Labels: backend

#134 Feat/132 unit testing for pagination of smart contract
  web3/contracts/FincubeDAO.sol
  web3/test/FincubeDAO-CancelProposalTest.ts
  web3/test/FincubeDAO-MemberApprovalTest.ts
  web3/test/FincubeDAO-PaginationTest.ts
  web3/test/FincubeDAO-TokenProposalTest.ts
  web3/test/FincubeDao-VotingTest.ts
Labels: web3

#136 Feat/19 dao contract event refactor and fetch proposal
  backend/.env.example
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  web3/.openzeppelin/sepolia.json
  web3/contracts/FincubeDAO.sol
  web3/test/FincubeDAO-CancelProposalTest.ts
  web3/test/FincubeDAO-MemberApprovalTest.ts
  web3/test/FincubeDAO-PaginationTest.ts
  web3/test/FincubeDAO-TokenProposalTest.ts
  web3/test/FincubeDao-VotingTest.ts
Labels: backend, web3
