Repository FinCube-23/DAO-Proposal-Governance, pull requests merged in 2024-06, with the labels that each got.

#119 feat/ fincube-106 setter functions for voting delay and voting period
  web3/contracts/FincubeDAO.sol
  web3/test/FincubeDAO-CancelProposalTest.ts
  web3/test/FincubeDAO-MemberApprovalTest.ts
  web3/test/FincubeDAO-TokenProposalTest.ts
  web3/test/FincubeDao-VotingTest.ts
Labels: web3

#120 feat:fincube-110 Added RBAC on API endpoints
  backend/web3-proxy-service/package-lock.json
  backend/web3-proxy-service/package.json
  backend/web3-proxy-service/src/authz/jwt.strategy.ts
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.controller.ts
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.service.ts
Labels: backend

#118 feat: fincube-116 auto seeder using json file in user-management-service
  .gitignore
  backend/user-management-service/.gitignore
  backend/user-management-service/package-lock.json
  backend/user-management-service/package.json
  backend/user-management-service/src/app.module.ts
  backend/user-management-service/src/database_seeder/database.seeder.module.ts
  backend/user-management-service/src/database_seeder/database.seeder.service.ts
Labels: backend

#124 123 hotfix get all proposals
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
Labels: bug

#125 122 generic proposal message queue implementation
  backend/audit-trail-service/docker-compose.yml
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/app.module.ts
  backend/audit-trail-service/src/dao_audit/dao_audit.controller.ts
  backend/audit-trail-service/src/dao_audit/dao_audit.module.ts
  backend/audit-trail-service/src/dao_audit/dao_audit.service.ts
  backend/audit-trail-service/src/dao_audit/dto/proposal.dto.ts
  backend/audit-trail-service/src/dao_audit/entities/dao_audit.entity.ts
  backend/audit-trail-service/src/main.ts
  backend/audit-trail-service/src/proposal-update/dto/proposal-update.dto.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.controller.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.module.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.service.ts
  backend/audit-trail-service/src/shared/common/constants.ts
  backend/audit-trail-service/src/shared/common/dto/response-transaction-status.dto.ts
  backend/audit-trail-service/src/shared/common/interfaces.ts
  backend/dao-service/docker-compose.yml
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/app.module.ts
  backend/dao-service/src/main.ts
  backend/dao-service/src/proposal-service/dto/proposal.dto.ts
  backend/dao-service/src/proposal-service/entities/proposal.entity.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.module.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/dao-service/src/shared/common/constants.ts
  backend/dao-service/src/shared/common/dto/response-transaction-status.dto.ts
  backend/dao-service/src/shared/common/interfaces.ts
  backend/docker-compose.yml
  backend/rabbitmq/docker-compose.yml
  backend/user-management-service/src/app.module.ts
  backend/user-management-service/src/database_seeder/database.seeder.service.ts
  backend/web3-proxy-service/package-lock.json
  backend/web3-proxy-service/package.json
Labels: backend

#129 Feat/128 on chain contract proposal event listener using graphql
  .gitignore
  backend/.gitignore
  backend/audit-trail-service/src/proposal-update/dto/proposal-update.dto.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.controller.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.module.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.service.ts
  backend/dao-service/src/proposal-service/dto/proposal.dto.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/package-lock.json
  backend/package.json
Labels: backend
