Repository FinCube-23/DAO-Proposal-Governance, pull requests merged in 2024-03, with the labels that each got.

#35 Feature/5 postgresql environment setup
  backend/user-management-service/docker-compose.yml
  backend/user-management-service/example.env
  backend/user-management-service/package-lock.json
  backend/user-management-service/package.json
  backend/user-management-service/src/app.module.ts
  backend/user-management-service/src/database/database.controller.ts
  backend/user-management-service/src/database/database.module.ts
  backend/user-management-service/src/database/database.service.ts
  backend/user-management-service/src/exchange_user/entities/exchange_user.entity.ts
  backend/user-management-service/src/exchange_user/exchange_user.module.ts
  backend/user-management-service/src/mfs_business/entities/mfs_business.entity.ts
  backend/user-management-service/src/mfs_business/mfs_business.module.ts
  package-lock.json
Labels: backend

#36 Feature/1 hardhat setup
  web3/.gitignore
  web3/README.md
  web3/contracts/Lock.sol
  web3/example.env
  web3/hardhat.config.ts
  web3/ignition/deployments/chain-11155111/build-info/6ed56d3ea8ed03ff95258357ecfb0c17.json
  web3/ignition/deployments/chain-11155111/deployed_addresses.json
  web3/ignition/deployments/chain-11155111/journal.jsonl
  web3/ignition/deployments/sepolia-deployment/build-info/6ed56d3ea8ed03ff95258357ecfb0c17.json
  web3/ignition/deployments/sepolia-deployment/deployed_addresses.json
  web3/ignition/deployments/sepolia-deployment/journal.jsonl
  web3/ignition/modules/Lock.ts
  web3/package-lock.json
  web3/package.json
  web3/test/Lock.ts
  web3/tsconfig.json
Labels: web3

#37 Feature/22 reactjs environment setup
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/components.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/assets/react.svg
  frontend/src/global.css
  frontend/src/layouts/RootLayout.tsx
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/pages/welcome.tsx
  frontend/src/redux/api/base.ts
  frontend/src/redux/middlewares/errorInterceptor.ts
  frontend/src/redux/reducer.ts
  frontend/src/redux/slices/auth.ts
  frontend/src/redux/store.ts
  frontend/src/routes/root.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#40 7 user management service setup
  backend/user-management-service/src/exchange_user/dto/create-exchange_user.dto.ts
  backend/user-management-service/src/exchange_user/dto/update-exchange_user.dto.ts
  backend/user-management-service/src/exchange_user/exchange_user.controller.spec.ts
  backend/user-management-service/src/exchange_user/exchange_user.controller.ts
  backend/user-management-service/src/exchange_user/exchange_user.service.spec.ts
  backend/user-management-service/src/exchange_user/exchange_user.service.ts
  backend/user-management-service/src/mfs_business/dto/create-mfs_business.dto.ts
  backend/user-management-service/src/mfs_business/dto/update-mfs_business.dto.ts
  backend/user-management-service/src/mfs_business/mfs_business.controller.spec.ts
  backend/user-management-service/src/mfs_business/mfs_business.controller.ts
  backend/user-management-service/src/mfs_business/mfs_business.service.spec.ts
  backend/user-management-service/src/mfs_business/mfs_business.service.ts
Labels: backend

#42 feat:fincube-9 dao voting service setup
  backend/dao-service/.eslintrc.js
  backend/dao-service/.gitignore
  backend/dao-service/.prettierrc
  backend/dao-service/README.md
  backend/dao-service/docker-compose.yaml
  backend/dao-service/nest-cli.json
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/app.controller.spec.ts
  backend/dao-service/src/app.controller.ts
  backend/dao-service/src/app.module.ts
  backend/dao-service/src/app.service.ts
  backend/dao-service/src/currency-transfer-service/currency-transfer-service.controller.ts
  backend/dao-service/src/currency-transfer-service/currency-transfer-service.module.ts
  backend/dao-service/src/currency-transfer-service/currency-transfer-service.service.ts
  backend/dao-service/src/currency-transfer-service/dto/create-currency-transfer-service.dto.ts
  backend/dao-service/src/currency-transfer-service/dto/update-currency-transfer-service.dto.ts
  backend/dao-service/src/currency-transfer-service/entities/currency-transfer-service.entity.ts
  backend/dao-service/src/database/database.module.ts
  backend/dao-service/src/main.ts
  backend/dao-service/src/voting-service/dto/create-voting-service.dto.ts
  backend/dao-service/src/voting-service/dto/update-voting-service.dto.ts
  backend/dao-service/src/voting-service/entities/voting-service.entity.ts
  backend/dao-service/src/voting-service/voting-service.controller.ts
  backend/dao-service/src/voting-service/voting-service.module.ts
  backend/dao-service/src/voting-service/voting-service.service.ts
  backend/dao-service/test/app.e2e-spec.ts
  backend/dao-service/test/jest-e2e.json
  backend/dao-service/tsconfig.build.json
  backend/dao-service/tsconfig.json
Labels: backend

#44 feat: fincube:43 dao voting crud entrypoint operations
  backend/dao-service/docker-compose.yaml
  backend/dao-service/src/app.module.ts
  backend/dao-service/src/main.ts
  backend/dao-service/src/voting-service/dto/create-voting-service.dto.ts
  backend/dao-service/src/voting-service/dto/update-voting-service.dto.ts
  backend/dao-service/src/voting-service/voting-service.controller.ts
  backend/dao-service/src/voting-service/voting-service.module.ts
  backend/dao-service/src/voting-service/voting-service.service.ts
  backend/dao-service/src/voting/entities/dao.entity.ts
  backend/dao-service/src/voting/voting-service.module.ts
  backend/dao-service/src/voting/voting.controller.ts
  backend/dao-service/src/voting/voting.service.ts
  backend/user-management-service/src/exchange_user/entities/exchange_user.entity.ts
  backend/user-management-service/src/main.ts
  backend/user-management-service/src/mfs_business/entities/mfs_business.entity.ts
Labels: backend

#51 feat: fincube-9 .env files edited and fixed
  backend/.gitignore
  backend/dao-service/.gitignore
  backend/dao-service/docker-compose.yaml
  backend/dao-service/src/app.module.ts
  backend/user-management-service/.env.example
  backend/user-management-service/.gitignore
  backend/user-management-service/docker-compose.yml
  backend/user-management-service/src/app.module.ts
Labels: backend

#45 Feature/16 audit trail service setup
  backend/audit-trail-service/.dockerignore
  backend/audit-trail-service/.env.example
  backend/audit-trail-service/.eslintrc.js
  backend/audit-trail-service/.gitignore
  backend/audit-trail-service/.prettierrc
  backend/audit-trail-service/Dockerfile
  backend/audit-trail-service/README.md
  backend/audit-trail-service/docker-compose.yml
  backend/audit-trail-service/nest-cli.json
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/app.controller.spec.ts
  backend/audit-trail-service/src/app.controller.ts
  backend/audit-trail-service/src/app.module.ts
  backend/audit-trail-service/src/app.service.ts
  backend/audit-trail-service/src/database/database.module.ts
  backend/audit-trail-service/src/main.ts
  backend/audit-trail-service/test/app.e2e-spec.ts
  backend/audit-trail-service/test/jest-e2e.json
  backend/audit-trail-service/tsconfig.build.json
  backend/audit-trail-service/tsconfig.json
Labels: backend

#53 feat: Fincube-2 DAO contract initialize and register member
  web3/contracts/FincubeDAO.sol
Labels: web3

#56 13 dao contract proposal functionality
  backend/user-management-service/.gitignore
  web3/contracts/FincubeDAO.sol
  web3/package-lock.json
Labels: web3

#57 feat: fincube-55 DAO contract member approval test cases
  web3/package-lock.json
  web3/package.json
  web3/test/FincubeDAO-MemberApprovalTest.ts
Labels: web3
