Repository FinCube-23/DAO-Proposal-Governance, pull requests merged in 2024-04, with the labels that each got.

#59 feat: fincube-54 dao contract new token proposal unit test
  web3/test/FincubeDAO-TokenProposalTest.ts
Labels: web3

#58 feat:fincube-3 dao voting functionality test cases added
  web3/package-lock.json
  web3/package.json
  web3/test/FincubeDao-VotingTest.ts
Labels: web3

#60 feat: fincbue-14 loop and function optimizations
  web3/contracts/FincubeDAO.sol
Labels: web3

#61 Feature/25 react voting dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/dao/ProposalCard.tsx
  frontend/src/components/dao/ProposalStatCard.tsx
  frontend/src/components/dao/VoterList.tsx
  frontend/src/components/dao/VotingBreakdown.tsx
  frontend/src/components/dao/VotingInfo.tsx
  frontend/src/components/dao/VotingProgressBar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/global.css
  frontend/src/layouts/DaoLayout.tsx
  frontend/src/layouts/RootLayout.tsx
  frontend/src/pages/dao/proposal/proposalView.tsx
  frontend/src/pages/dao_dashboard.tsx
  frontend/src/routes/root.tsx
  frontend/src/services/proposal/types.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: frontend

#67 feat: fincube:64 DAO contract generalized proposal functionality
  web3/contracts/FincubeDAO.sol
Labels: web3

#63 feat: fincube-33: containerizing dao-service
  backend/dao-service/.dockerignore
  backend/dao-service/Dockerfile
  backend/dao-service/docker-compose.yaml
  backend/dao-service/docker-compose.yml
  backend/dao-service/src/main.ts
Labels: backend

#72 feat: fincube:29 add landing page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/ui/sparkles.tsx
  frontend/src/layouts/DaoLayout.tsx
  frontend/src/layouts/RootLayout.tsx
  frontend/src/pages/welcome.tsx
Labels: frontend

#76 10 user management swagger api implementation
  backend/user-management-service/package-lock.json
  backend/user-management-service/package.json
  backend/user-management-service/src/exchange_user/entities/exchange_user.entity.ts
  backend/user-management-service/src/exchange_user/exchange_user.controller.ts
  backend/user-management-service/src/main.ts
  backend/user-management-service/src/mfs_business/entities/mfs_business.entity.ts
  backend/user-management-service/src/mfs_business/mfs_business.controller.ts
Labels: web3

#79 feat: fincube - 38 NestJS auth0 initial setup
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/app.module.ts
  backend/audit-trail-service/src/authz/authz.module.ts
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/app.module.ts
  backend/dao-service/src/authz/authz.module.ts
  backend/user-management-service/package-lock.json
  backend/user-management-service/package.json
  backend/user-management-service/src/app.module.ts
  backend/user-management-service/src/authz/authz.module.ts
Labels: backend

#78 41 audit trial swagger api setup
  backend/audit-trail-service/Dockerfile
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/main.ts
Labels: backend

#81 feat: fincube - 39 nestjs auth0 user-management-service implemented
  backend/user-management-service/.env.example
  backend/user-management-service/src/app.module.ts
  backend/user-management-service/src/authz/authz.module.ts
  backend/user-management-service/src/authz/jwt.strategy.ts
  backend/user-management-service/src/exchange_user/exchange_user.controller.ts
  backend/user-management-service/src/mfs_business/mfs_business.controller.ts
Labels: backend
