Repository FinCube-23/DAO-Proposal-Governance, pull requests merged in 2025-03, with the labels that each got.

#247 Feat/238 integrate web3 proxy services within the admin dashboard
  frontend/src/components/admin/overview.tsx
  frontend/src/components/admin/recent-transactions.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/redux/services/proxy.ts
Labels: frontend, web3

#254 Feat/243 distributed log tracing for different services
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/dao-service/src/shared/common/logger/morgan.middleware.ts
  backend/dao-service/src/shared/common/logger/winston-logger.ts
Labels: R&D, backend

#253 Feat/242 vote execution and cancellation integration with audit trail
  backend/audit-trail-service/src/app.module.ts
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.controller.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.service.ts
  backend/dao-service/Dockerfile
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/proposal-service/dto/proposal.dto.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  frontend/src/components/dao/OffChainCard.tsx
  frontend/src/components/dao/VotingBreakdown.tsx
  frontend/src/components/dao/VotingInfo.tsx
  frontend/src/pages/dao_dashboard.tsx
  frontend/src/redux/services/proposal.ts
Labels: enhancement

#262 Issue/258 issue fix multiple services subscribing to same event bus
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/app.module.ts
  backend/audit-trail-service/src/background_tasks/task.module.ts
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.controller.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.module.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.repository.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.service.ts
  backend/audit-trail-service/src/transactions/entities/transaction.entity.ts
  backend/audit-trail-service/src/transactions/transactions.service.ts
  backend/dao-service/Dockerfile
  backend/dao-service/docker-compose.yml
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/proposal-service/dto/proposal.dto.ts
  backend/dao-service/src/proposal-service/entities/proposal.entity.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.module.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/dao-service/src/shared/common/logger/morgan.middleware.ts
  backend/dao-service/src/shared/common/logger/winston-logger.ts
  backend/dao-service/tsconfig.json
  backend/libs/validate-auth/.gitignore
  backend/libs/validate-auth/package-lock.json
  backend/libs/validate-auth/package.json
  backend/libs/validate-auth/src/index.ts
  backend/libs/validate-auth/src/validate-auth.decorator.ts
  backend/libs/validate-auth/tsconfig.json
  backend/user-management-service/Dockerfile
  backend/user-management-service/package-lock.json
  backend/user-management-service/package.json
  backend/user-management-service/src/auth/auth.controller.ts
  backend/user-management-service/src/auth/auth.service.ts
  backend/user-management-service/src/auth/dto/validate-authorization.dto.ts
  backend/user-management-service/src/mfs_business/mfs_business.controller.ts
  backend/user-management-service/src/mfs_business/mfs_business.module.ts
  backend/user-management-service/src/mfs_business/mfs_business.service.ts
  frontend/src/components/admin/overview.tsx
  frontend/src/components/admin/recent-transactions.tsx
  frontend/src/components/dao/OffChainCard.tsx
  frontend/src/components/dao/VotingBreakdown.tsx
  frontend/src/components/dao/VotingInfo.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/dao_dashboard.tsx
  frontend/src/redux/services/proposal.ts
  frontend/src/redux/services/proxy.ts
  run.sh
Labels: enhancement

#264 Issue/257 issue fix off system proposal handling give warning
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/transactions/transactions.service.ts
Labels: bug

#266 Feat/244 audit trail db schema update for new eda architecture
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/transactions/transactions.service.ts
Labels: backend

#270 Feat/244 audit trail db schema update for new eda architecture
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.repository.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/user-management-service/src/mfs_business/mfs_business.service.ts
Labels: bug, backend

#268 Feat/256 frontend shows proposals in the correct order latest one first
  frontend/src/components/dao/VotingInfo.tsx
  frontend/src/pages/dao_dashboard.tsx
Labels: enhancement, frontend, web3

#272 Feat/245 general proposal integration with audit trail service and dao service
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.controller.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.module.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.repository.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.service.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/user-management-service/src/main.ts
  backend/user-management-service/src/mfs_business/mfs_business.service.ts
  frontend/src/pages/generalProposal.tsx
Labels: backend

#273 Feat/251 auth guard package
  backend/dao-service/Dockerfile
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.module.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/dao-service/src/shared/common/dto/validate-proposal.dto.ts
  backend/libs/validate-auth/.gitignore
  backend/libs/validate-auth/package-lock.json
  backend/libs/validate-auth/package.json
  backend/libs/validate-auth/src/index.ts
  backend/libs/validate-auth/src/validate-auth.decorator.ts
  backend/libs/validate-auth/tsconfig.json
  backend/user-management-service/src/auth/auth.controller.ts
  backend/user-management-service/src/auth/auth.service.ts
  backend/user-management-service/src/main.ts
Labels: backend

#274 Feat/271 admin dashboard apis and frontend integration
  backend/audit-trail-service/src/transactions/dto/list-transactions.dto.ts
  backend/audit-trail-service/src/transactions/dto/transaction-detail.dto.ts
  backend/audit-trail-service/src/transactions/dto/transaction-list-response.dto.ts
  backend/audit-trail-service/src/transactions/transactions.controller.ts
  backend/audit-trail-service/src/transactions/transactions.module.ts
  backend/audit-trail-service/src/transactions/transactions.service.ts
  backend/user-management-service/src/mfs_business/dtos/MfsBusinessDto.ts
  backend/user-management-service/src/mfs_business/dtos/list-organization.dto.ts
  backend/user-management-service/src/mfs_business/dtos/organization-detail-response.dto.ts
  backend/user-management-service/src/mfs_business/dtos/organization-list-response.dto.ts
  backend/user-management-service/src/mfs_business/mfs_business.controller.ts
  backend/user-management-service/src/mfs_business/mfs_business.service.ts
  frontend/src/components/SidebarUser.tsx
  frontend/src/components/admin/MFSList.tsx
  frontend/src/components/admin/TrxList.tsx
  frontend/src/components/auth/mfs_registration/BusinessInfoForm.tsx
  frontend/src/components/dao/VotingInfo.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/main.tsx
  frontend/src/pages/admin/AdminDashboard.tsx
  frontend/src/pages/admin/MFSDetails.tsx
  frontend/src/pages/admin/TrxDetails.tsx
  frontend/src/pages/dao_dashboard.tsx
  frontend/src/redux/api/base.ts
  frontend/src/redux/api/endpoints.ts
  frontend/src/redux/api/types.ts
  frontend/src/redux/services/auditTrail.ts
  frontend/src/redux/services/mfs.ts
Labels: backend, frontend, web3

#275 feat: fincube #260 adds auth guard to dao-service and web3-proxy-service
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/web3-proxy-service/package-lock.json
  backend/web3-proxy-service/package.json
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.controller.ts
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.module.ts
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.service.ts
Labels: backend
