Repository FinCube-23/DAO-Proposal-Governance, pull requests merged in 2025-02, with the labels that each got.

#200 Fix/197 refactoring fe codebase
  frontend/src/assets/metamask.svg
  frontend/src/components/AuthStateSyncer.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/auth/RegisterForm.tsx
  frontend/src/components/auth/WalletAuth.tsx
  frontend/src/components/auth/mfs_registration/BusinessInfoForm.tsx
  frontend/src/components/auth/mfs_registration/RegisterAsMemberStep.tsx
  frontend/src/components/dao/VoterList.tsx
  frontend/src/components/dao/VotingBreakdown.tsx
  frontend/src/components/mfs/DisplayCard.tsx
  frontend/src/components/mfs/MFSProfileForm.tsx
  frontend/src/components/mfs/ProfileDetails.tsx
  frontend/src/components/mfs/ProfileDialog.tsx
  frontend/src/lib/interfaces.ts
  frontend/src/main.tsx
  frontend/src/pages/dao/proposal/OffChainCardView.tsx
  frontend/src/pages/dao/proposal/OngoingProposalView.tsx
  frontend/src/pages/dao/proposal/proposalView.tsx
  frontend/src/pages/dao_dashboard.tsx
  frontend/src/pages/generalProposal.tsx
  frontend/src/pages/mfs/dashboard.tsx
  frontend/src/pages/newMemberApprovalProposal.tsx
  frontend/src/redux/api/types.ts
  frontend/src/redux/services/proposal.ts
Labels: frontend

#201 feat: fincube #199 import token to metamask
  frontend/src/pages/mfs/dashboard.tsx
Labels: frontend, web3

#203 feat: fincube #202 shell script to automate project runtime
  README.md
  frontend/src/pages/dao_dashboard.tsx
  scripts/run.sh
Labels: documentation, enhancement

#207 feat: 184 smart contract improvements
  README.md
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts-upgradeable/access/OwnableUpgradeable.sol/OwnableUpgradeable.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts-upgradeable/proxy/utils/Initializable.sol/Initializable.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts-upgradeable/proxy/utils/UUPSUpgradeable.sol/UUPSUpgradeable.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts-upgradeable/utils/ContextUpgradeable.sol/ContextUpgradeable.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/access/Ownable.sol/Ownable.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/interfaces/draft-IERC1822.sol/IERC1822Proxiable.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/proxy/ERC1967/ERC1967Utils.sol/ERC1967Utils.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/proxy/beacon/IBeacon.sol/IBeacon.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/utils/Address.sol/Address.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
  backend/web3-proxy-service/artifacts/@openzeppelin/contracts/utils/StorageSlot.sol/StorageSlot.dbg.json
  backend/web3-proxy-service/artifacts/build-info/22d619169e85e3a8c6da6563e09c6228.json
  backend/web3-proxy-service/artifacts/build-info/43560740281730d0005b9643c99f5acb.json
  backend/web3-proxy-service/artifacts/build-info/a16d6b536c99b5802fdecbf311e548f1.json
  backend/web3-proxy-service/artifacts/contracts/FincubeDAO.sol/FinCubeDAO.dbg.json
  backend/web3-proxy-service/artifacts/contracts/FincubeDAO.sol/FinCubeDAO.json
  backend/web3-proxy-service/artifacts/contracts/TokenAddress.sol/TokenAddressContract.dbg.json
  backend/web3-proxy-service/artifacts/contracts/TokenAddress.sol/TokenAddressContract.json
  json-log/fincubeDAO_V2_upgraded_contract_implementation_address.json
  json-log/fincubeDAO_contract_address.json
  web3/.openzeppelin/sepolia.json
  web3/README.md
  web3/contracts/FincubeDAO.sol
  web3/deploy.sh
  web3/test/FincubeDAO-CancelProposalTest.ts
  web3/test/FincubeDAO-TokenProposalTest.ts
  web3/test/FincubeDao-VotingTest.ts
Labels: web3

#209 fix: fincube #208 resolved dynamic proposal fetching
  frontend/src/components/dao/VotingBreakdown.tsx
  frontend/src/contractABI/contractABI.json
  frontend/src/layouts/RootLayout.tsx
  frontend/src/lib/interfaces.ts
  frontend/src/main.tsx
  frontend/src/pages/dao_dashboard.tsx
  frontend/src/pages/mfs/dashboard.tsx
Labels: frontend, web3

#219 Feat/215 service discovery refactoring
  README.md
  backend/.env.example
  backend/audit-trail-service/.env.example
  backend/audit-trail-service/src/app.service.ts
  backend/dao-service/.env.example
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/rabbitmq/docker-compose.yml
  backend/service-discovery/.env.example
  backend/service-discovery/Dockerfile
  backend/service-discovery/README.md
  backend/service-discovery/controllers/gateway-controller.js
  backend/service-discovery/docker-compose.yml
  backend/service-discovery/index.js
  backend/service-discovery/nginx.conf
  backend/service-discovery/package-lock.json
  backend/service-discovery/package.json
  backend/service-discovery/services/gateway-service.js
  backend/user-management-service/Dockerfile
  backend/user-management-service/src/app.service.ts
  backend/web3-proxy-service/src/app.service.ts
  run.sh
Labels: backend

#222 Refactor/206 refactor project setup and automate distributed docker
  backend/audit-trail-service/Dockerfile
  backend/audit-trail-service/docker-compose.yml
  backend/dao-service/Dockerfile
  backend/dao-service/docker-compose.yml
  backend/dao-service/src/app.service.ts
  backend/user-management-service/Dockerfile
  backend/user-management-service/docker-compose.yml
  backend/user-management-service/src/app.service.ts
  backend/web3-proxy-service/Dockerfile
  backend/web3-proxy-service/docker-compose.yml
  backend/web3-proxy-service/src/app.service.ts
  run.sh
Labels: backend

#226 feat: fincube #224 proposal place from frontend fixed
  backend/audit-trail-service/src/main.ts
  backend/dao-service/src/main.ts
  backend/web3-proxy-service/src/main.ts
  frontend/.env.example
Labels: bug

#229 fix: fincube #228 removed Nginx headers for CORS
  backend/service-discovery/nginx.conf
Labels: bug, backend

#234 hotfix: fincube #232 fixed pgadmin access error by adding it to network
  backend/audit-trail-service/docker-compose.yml
  backend/user-management-service/docker-compose.yml
Labels: bug

#236 Feat/235 configuring web3 proxy service for latest sepolia deployment
  backend/web3-proxy-service/docker-compose.yml
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.controller.ts
  backend/web3-proxy-service/src/web3-dao-proxy/web3-proxy.service.ts
Labels: backend

#239 Feat/213 http logger with request body masking
  backend/dao-service/.env.example
  backend/dao-service/package-lock.json
  backend/dao-service/package.json
  backend/dao-service/src/app.module.ts
  backend/dao-service/src/main.ts
  backend/dao-service/src/proposal-service/proposal-service.module.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
  backend/dao-service/src/shared/common/logger/morgan.middleware.ts
  backend/dao-service/src/shared/common/logger/winston-logger.ts
  backend/dao-service/tsconfig.json
  backend/log-server/Dockerfile
  backend/log-server/config/loki-config.yaml
  backend/log-server/docker-compose.yaml
  run.sh
Labels: backend

#250 Feat/241 cron job implementation at audit trail
  backend/audit-trail-service/package-lock.json
  backend/audit-trail-service/package.json
  backend/audit-trail-service/src/background_tasks/task.module.ts
  backend/audit-trail-service/src/background_tasks/tasks.service.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.repository.ts
  backend/audit-trail-service/src/proposal-update/proposal-update.service.ts
  backend/audit-trail-service/src/transactions/entities/transaction.entity.ts
  backend/audit-trail-service/src/transactions/transactions.service.ts
  backend/dao-service/src/proposal-service/entities/proposal.entity.ts
  backend/dao-service/src/proposal-service/proposal-service.controller.ts
  backend/dao-service/src/proposal-service/proposal-service.service.ts
Labels: backend
